<div class="products">
    <ul class="list">
        <li class="item">
            <a class="link" href="https://yenom.kjuly.com" target="_blank" title="YeNom" alt="YeNom">
                <img src="images/logo-yenom.png" alt="YeNom" />
            </a>
        </li>
        <li class="item">
            <a class="link" href="https://aidem-app.kjuly.com" target="_blank" title="Aidem" alt="Aidem">
                <img src="images/logo-aidem.png" alt="Aidem" />
            </a>
        </li>
    </ul>
</div>
